<head>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/mdi@1.7.22/css/materialdesignicons.css">
  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.5.2/tachyons.css">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
<div >
<div class="container">
    <div class="row">

    </div>
    <div class="navbar">
        <div class="navbar-inner">
 
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="brand logohead"><a href="#" class="white">Doctor</a></li>

                    <li class="drli">

                    <img class="drimg" src="assets/images/doctor.jpg" alt="Avatar">
                    <div>
                    <p class="drname">Dr.Nishant Clinician</p>
                    <p class="drname">Kids Care Clinic</p>
                </div>
                    <img class="drdrop" src="assets/images/sortdown.png"/>

                </li>

                  <li class="drli ">
<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <span class="datepicker-toggle drcal" >
  <span class="datepicker-toggle-button" [style.background-image]="'url(assets/images/calendar.png)'"></span>
  <input type="date"  (change)="onChange($event)"  class="datepicker-input" >
</span>
                    <div class="p35">
   
                    <p class="drname">{{today}}</p>
                    <p class="drname">{{show_date}}</p>
                </div>
                    <!-- <img class="drdrop " src="assets/images/sortdown.png"/> -->

                </li>


   <!--   <li class="flr">
             <div class="wrap">
  <button class="button">Walk-In</button>
</div>

</li> -->

<li class="flr">
<div class="wrap">
  <button class="button" routerLink="home/slot">Appointments</button>
</div>

 </li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>


<section class=" ptop">
  <h3 class="ml">Home</h3>

  <div class="card cardhgt example">
    <div class="countmain">
        <div class="count">
            <h4 class="counth3">{{count}}<p class="countp">Total</p></h4>

        </div>
   
</div>
  <main class="centercss maindiv">
<div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                   
                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                            <tr class="trheight">
                                                <th class="text-center"></th>
                                                <th class="text-center"></th>
                                                <th class="text-center"></th>

                                                <th>PATIENT</th>
                                                <th class="text-center">CONTACT</th>
                                                <th class="text-center">APPOINTMENT</th>
                                                <th class="text-center"></th>


                                            </tr>
                                            </thead>



                                            <tbody>
                                            <tr *ngFor="let l of appointmentlist;let i =index;">
                                                <td class="text-center text-muted">
                                                    
                <i class="f3 black-50 mdi mdi-dots-vertical"></i>
                        <i class="f3 black-50 mdi mdi-dots-vertical"></i>

                                                </td>
                                                <td>  
                <p class="snocss" [ngStyle]="{'color': l.sl_color,'background':l.sl_color_bg}">{{i+1}}</p>



                                                 </td>

                                                 <td class="w5">
                                                    <img *ngIf="l.gender == 'male'" width="40" class="rounded-circle b50" src="assets/images/users/user-1.png" alt="">
                                                    <img *ngIf="l.gender != 'male'"  width="40" class="rounded-circle b50" src="assets/images/users/user-g.png" alt="">


                                                </td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                          
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">{{l.name}}</div>
                                                                <div class="widget-subheading opacity-7 subheadtitle">{{l.gender}}, {{l.age}} yr</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">{{l.phone}}</td>
                                                <td class="text-center">
                                                  {{l.slot_from}}
                                                </td>
                                                
      
                                                <td> <i class="f3 black-50 mdi mdi-dots-horizontal"></i></td>

                                            </tr>


<img  *ngIf="shownoimg" class="noimgcls"  src="assets/images/noappointment.png"/>

                                            
                                            </tbody>
                                        </table>
                                    </div>
                                   





                                </div>





                            </div>
                        </div>
    
  </main>
</div>

</section>
</div>
            <router-outlet (activate)="onActivate($event)"></router-outlet>

</body>


